/* TestCSS.css */
/* Programmé par Cédric Vigneau */
/* Le 21 novembre 2019 */

body{
   width: 900px;
    margin: auto;
    background: url("../img/fondpale.jpg") no-repeat center;
    background-size: cover;
    background-color: cornflowerblue;
    text-align: center;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 24px;
}

h1, h2{
    color: firebrick;
    text-align: center;
}
ul, ol, li{
    margin: auto;
    list-style-position: inside;
    color: maroon;
    font-size: 16px;
}

p{
    font-size: 14px;
    text-align: justify;
}

a{
    text-decoration: none;
    color: lightblue;
}

a:visited{
   text-decoration: none;
    color: darkblue;
}

a:hover{
    text-decoration: underline;
}


table, th, td {
    border: 1px solid black;
    font-size: 18px;
    color: forestgreen;
    margin: auto;
}

img{
    border-radius: 30px;

}
img:hover{
    box-shadow: 5px 5px #888888;
}



